@import url('./general.css');

.Display {
  height: 20vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  padding: 5vh;
  color: var(--black1);
  background-color: var(--grey3);
  text-align: center;
}

.Text {
  font-size: 4vh;
  color: var(--green2);
  font-weight: bold;
}

.Number {
  font-size: 6vh;
  font-weight: bold;
  letter-spacing: 1vh;
  color: var(--yellow1);
}
